$maincolor : rgb(53, 209, 236);
$darkcolor: rgb(37, 125, 197);
$lightcolor: rgb(241, 251, 255);

$successcolor:rgb(54, 218, 95);
$dangercolor:rgb(240, 47, 47);

$padding: 20px;

$font:"iranyekanweb",tahoma,arial;

$shadow:0 3px 15px -3px rgba(0,0,0,0.2);


$imagepath:"../content/img/";